apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: "weave-scope-ingress"
  namespace: "weave"
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/security-groups: "sg-059278dd19dba9ba8"
  labels:
    app: weave-scope-ingress
spec:
  rules:
    - http:
        paths:
          - path: /*
            backend:
              serviceName: "weave-scope-app"
              servicePort: 80